.formula{
    margin : 0 0 0 0;
    position : absolute;
    top: 50%;
    left: 50%
   
}

#container{
    text-decoration: underline;
    background-color:lightblue ;
}

body{
    background-color: rgba(121, 147, 242, 0.6);}


h1{
    text-shadow: 4px ;
}