.formula{
    margin : 0 0 0 0;
    position : absolute;
    top: 50%;
    left: 50%
   
}

#container{
    text-decoration: underline;
    background-color:lightblue ;
}

body{
    background-color: rgba(121, 147, 242, 0.6);}


h1{
    text-shadow: 4px 4px 2px rgba(239, 72, 11, 0.467), 3px 2px 2px rgba(157, 236, 11, 0.4)
}

#division2{
    margin-left: 400pt;

}