.formula{
    margin : 0 0 0 0;
    position : absolute;
    top: 50%;
    left: 50%
   
}

#container{
    text-decoration: underline;
    background-color:lightblue ;
}

body{
    margin: 0;
    padding:0}